.elementor-15148 .elementor-element.elementor-element-fdf6d58{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:40px;--padding-bottom:40px;--padding-left:40px;--padding-right:40px;}.elementor-15148 .elementor-element.elementor-element-3ff435f{--display:flex;--padding-top:10px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-15148 .elementor-element.elementor-element-015b098{text-align:center;}.elementor-15148 .elementor-element.elementor-element-015b098 .elementor-heading-title{font-family:var( --e-global-typography-6e4ea15-font-family ), Sans-serif;font-size:var( --e-global-typography-6e4ea15-font-size );font-weight:var( --e-global-typography-6e4ea15-font-weight );line-height:var( --e-global-typography-6e4ea15-line-height );color:var( --e-global-color-astglobalcolor2 );}.elementor-15148 .elementor-element.elementor-element-3be27c0{--e-image-carousel-slides-to-show:2;}.elementor-15148 .elementor-element.elementor-element-3be27c0 .swiper-pagination-bullet:not(.swiper-pagination-bullet-active){background:var( --e-global-color-astglobalcolor2 );opacity:var( --e-global-color-astglobalcolor2 );}.elementor-15148 .elementor-element.elementor-element-3be27c0 .swiper-pagination-bullet{background:var( --e-global-color-astglobalcolor3 );}.elementor-15148 .elementor-element.elementor-element-3be27c0 .swiper-wrapper{display:flex;align-items:center;}.elementor-15148 .elementor-element.elementor-element-3be27c0 .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image{border-radius:20px 20px 20px 20px;}.elementor-15148 .elementor-element.elementor-element-b1abc71{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;}.elementor-15148 .elementor-element.elementor-element-036f331{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:10px;--padding-bottom:10px;--padding-left:10px;--padding-right:30px;}.elementor-15148 .elementor-element.elementor-element-8b36307 .elementor-heading-title{font-family:"Articulat", Sans-serif;font-size:18px;font-weight:600;line-height:24px;color:var( --e-global-color-astglobalcolor3 );}.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{border-color:var( --e-global-color-text );}.elementor-widget-icon-list .elementor-icon-list-icon i{color:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-icon svg{fill:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-icon-list .elementor-icon-list-text{color:var( --e-global-color-secondary );}.elementor-15148 .elementor-element.elementor-element-c9e48a8 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-15148 .elementor-element.elementor-element-c9e48a8.elementor-element{--align-self:center;}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-block-end:calc(15px/2);}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-block-start:calc(15px/2);}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-inline:calc(15px/2);}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-items.elementor-inline-items{margin-inline:calc(-15px/2);}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{inset-inline-end:calc(-15px/2);}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-icon i{color:var( --e-global-color-81e8591 );transition:color 0.3s;}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-icon svg{fill:var( --e-global-color-81e8591 );transition:fill 0.3s;}.elementor-15148 .elementor-element.elementor-element-c9e48a8{--e-icon-list-icon-size:14px;--icon-vertical-align:center;--icon-vertical-offset:0px;}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-item > a{font-family:"Articulat", Sans-serif;font-size:16px;font-weight:500;line-height:21px;}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-text{color:var( --e-global-color-astglobalcolor2 );transition:color 0.3s;}.elementor-15148 .elementor-element.elementor-element-a6fe9f2 .elementor-heading-title{font-family:"Articulat", Sans-serif;font-size:13px;text-transform:none;line-height:18px;color:var( --e-global-color-astglobalcolor7 );}.elementor-15148 .elementor-element.elementor-element-36a430e{--e-image-carousel-slides-to-show:2;}.elementor-15148 .elementor-element.elementor-element-36a430e .swiper-pagination-bullet:not(.swiper-pagination-bullet-active){background:var( --e-global-color-astglobalcolor2 );opacity:var( --e-global-color-astglobalcolor2 );}.elementor-15148 .elementor-element.elementor-element-36a430e .swiper-pagination-bullet{background:var( --e-global-color-astglobalcolor3 );}.elementor-15148 .elementor-element.elementor-element-36a430e .swiper-wrapper{display:flex;align-items:center;}.elementor-15148 .elementor-element.elementor-element-36a430e .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image{border-radius:20px 20px 20px 20px;}.elementor-15148 .elementor-element.elementor-element-8eb9d4e{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--border-radius:16px 16px 16px 16px;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-15148 .elementor-element.elementor-element-8eb9d4e:not(.elementor-motion-effects-element-type-background), .elementor-15148 .elementor-element.elementor-element-8eb9d4e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-08f649f );}.elementor-15148 .elementor-element.elementor-element-1bc2714 > .elementor-widget-container{padding:20px 0px 0px 0px;}.elementor-15148 .elementor-element.elementor-element-1bc2714{text-align:center;}.elementor-15148 .elementor-element.elementor-element-1bc2714 .elementor-heading-title{font-family:"Articulat", Sans-serif;font-size:24px;font-weight:700;line-height:30px;color:var( --e-global-color-astglobalcolor3 );}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-15148 .elementor-element.elementor-element-7371323{text-align:center;}.elementor-15148 .elementor-element.elementor-element-c5cffea > .elementor-widget-container{background-color:var( --e-global-color-astglobalcolor4 );padding:20px 20px 20px 20px;border-radius:16px 16px 16px 16px;}:root{--page-title-display:none;}@media(max-width:1024px) and (min-width:768px){.elementor-15148 .elementor-element.elementor-element-036f331{--width:100%;}.elementor-15148 .elementor-element.elementor-element-8eb9d4e{--width:100%;}}@media(max-width:1366px){.elementor-15148 .elementor-element.elementor-element-015b098 .elementor-heading-title{font-size:var( --e-global-typography-6e4ea15-font-size );line-height:var( --e-global-typography-6e4ea15-line-height );}.elementor-15148 .elementor-element.elementor-element-8b36307 .elementor-heading-title{font-size:18px;line-height:24px;}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-item > a{font-size:16px;line-height:21px;}.elementor-15148 .elementor-element.elementor-element-a6fe9f2 .elementor-heading-title{font-size:13px;line-height:18px;}.elementor-15148 .elementor-element.elementor-element-1bc2714 .elementor-heading-title{font-size:24px;line-height:30px;}}@media(max-width:1024px){.elementor-15148 .elementor-element.elementor-element-fdf6d58{--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:30px;--padding-bottom:40px;--padding-left:40px;--padding-right:40px;}.elementor-15148 .elementor-element.elementor-element-015b098 .elementor-heading-title{font-size:var( --e-global-typography-6e4ea15-font-size );line-height:var( --e-global-typography-6e4ea15-line-height );}.elementor-15148 .elementor-element.elementor-element-b1abc71{--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-15148 .elementor-element.elementor-element-036f331{--padding-top:10px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;}.elementor-15148 .elementor-element.elementor-element-c9e48a8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-15148 .elementor-element.elementor-element-c9e48a8.elementor-element{--align-self:flex-start;}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-block-end:calc(15px/2);}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-block-start:calc(15px/2);}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-inline:calc(15px/2);}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-items.elementor-inline-items{margin-inline:calc(-15px/2);}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{inset-inline-end:calc(-15px/2);}.elementor-15148 .elementor-element.elementor-element-1bc2714 > .elementor-widget-container{padding:20px 0px 10px 0px;}}@media(max-width:767px){.elementor-15148 .elementor-element.elementor-element-fdf6d58{--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:10px;--padding-bottom:30px;--padding-left:10px;--padding-right:10px;}.elementor-15148 .elementor-element.elementor-element-015b098 .elementor-heading-title{font-size:var( --e-global-typography-6e4ea15-font-size );line-height:var( --e-global-typography-6e4ea15-line-height );}.elementor-15148 .elementor-element.elementor-element-3be27c0{--e-image-carousel-slides-to-show:2;}.elementor-15148 .elementor-element.elementor-element-3be27c0 .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image{border-radius:20px 20px 20px 20px;}.elementor-15148 .elementor-element.elementor-element-036f331{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-15148 .elementor-element.elementor-element-8b36307{text-align:center;}.elementor-15148 .elementor-element.elementor-element-8b36307 .elementor-heading-title{font-size:20px;line-height:24px;}.elementor-15148 .elementor-element.elementor-element-c9e48a8 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-15148 .elementor-element.elementor-element-c9e48a8{--icon-vertical-align:flex-start;--icon-vertical-offset:2px;}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-item > a{font-size:16px;line-height:22px;}.elementor-15148 .elementor-element.elementor-element-a6fe9f2 .elementor-heading-title{font-size:13px;line-height:18px;}.elementor-15148 .elementor-element.elementor-element-36a430e{--e-image-carousel-slides-to-show:2;}.elementor-15148 .elementor-element.elementor-element-36a430e .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image{border-radius:20px 20px 20px 20px;}.elementor-15148 .elementor-element.elementor-element-8eb9d4e{--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:20px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-15148 .elementor-element.elementor-element-1bc2714 > .elementor-widget-container{padding:20px 0px 0px 0px;}.elementor-15148 .elementor-element.elementor-element-1bc2714{text-align:center;}.elementor-15148 .elementor-element.elementor-element-1bc2714 .elementor-heading-title{font-size:20px;line-height:30px;}}@media(min-width:768px){.elementor-15148 .elementor-element.elementor-element-036f331{--width:50%;}.elementor-15148 .elementor-element.elementor-element-8eb9d4e{--width:50%;}}@media(min-width:2400px){.elementor-15148 .elementor-element.elementor-element-015b098 .elementor-heading-title{font-size:var( --e-global-typography-6e4ea15-font-size );line-height:var( --e-global-typography-6e4ea15-line-height );}.elementor-15148 .elementor-element.elementor-element-8b36307 .elementor-heading-title{font-size:24px;line-height:30px;}.elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-15148 .elementor-element.elementor-element-c9e48a8 .elementor-icon-list-item > a{font-size:18px;line-height:25px;}.elementor-15148 .elementor-element.elementor-element-a6fe9f2 .elementor-heading-title{font-size:15px;line-height:19px;}.elementor-15148 .elementor-element.elementor-element-8eb9d4e{--border-radius:16px 16px 16px 16px;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-15148 .elementor-element.elementor-element-1bc2714 .elementor-heading-title{font-size:32px;line-height:40px;}.elementor-15148 .elementor-element.elementor-element-c5cffea > .elementor-widget-container{padding:0px 0px 0px 0px;}}/* Start custom CSS for html, class: .elementor-element-c5cffea */.hs-button {
  width: 100% !important;  /* Establece el ancho del botón al 100% del contenedor */
  box-sizing: border-box !important; /* Asegura que el padding y el border sean incluidos en el ancho total */
}
.hs-form {
    width: 100%;
}

.hs-input {
    width: 100% !important;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
    margin-block-end: 1em;
}

.inputs-list {
    list-style-type: none; /* Elimina los puntos de viñeta */
    padding: 0; /* Elimina el padding por defecto de las listas, opcional */
    margin: 0; /* Elimina el margen por defecto de las listas, opcional */
}


 fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 100%;
}

/* Estilos para los inputs y textarea */
.hs-input, input, .hs-textarea, .hs-form select, input[type=email], input[type=number], input[type=password], input[type=reset], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea {
  width: 100%; /* Ancho al 100% para ocupar el espacio disponible */
  padding: 10px 15px; /* Padding para mayor comodidad al escribir */
  margin-bottom: 15px; /* Margen para separar los elementos */
  border: 2px solid #ccc; /* Borde sutil */
  border-radius: 4px; /* Bordes ligeramente redondeados */
  box-sizing: border-box; /* Ajusta el box model para incluir padding y bordes en el ancho */
}

/* Estilo para el botón de enviar */
.hs-button {
  width: 100%; /* Ancho al 100% */
  padding: 8px 20px; /* Padding cómodo */
  background-color: #009cdf; /* Color de fondo azul */
  color: white; /* Texto en color blanco */
  border: none; /* Sin bordes */
  border-radius: 40px; /* Bordes redondeados */
  cursor: pointer; /* Cursor en forma de mano al pasar el mouse */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

/* Estilo para el botón de enviar al pasar el mouse */
.hs-button:hover {
  background-color: #0056b3; /* Oscurece el botón al pasar el mouse */
}

.hs-form-booleancheckbox {
    display: flex; /* Usa flexbox para alinear los elementos internos */
    align-items: center; /* Centra los elementos verticalmente */
}

/* Estilo general para la lista y los elementos del formulario */
.inputs-list {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
}

/* Estilo para los contenedores del checkbox */
.hs-form-booleancheckbox {
    display: flex; /* Habilita flexbox para una alineación adecuada */
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
}

/* Estilo para el label que contiene el texto y el checkbox */
/* Estilo general para la lista y los elementos del formulario */
.inputs-list {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
}

/* Estilo para los contenedores del checkbox */
.hs-form-booleancheckbox {
    display: flex; /* Habilita flexbox para una alineación adecuada */
    align-items: center; /* Alinea los elementos en el centro verticalmente */
}



@media (max-width: 767px) {
    .elementor-kit-5 button, .elementor-kit-5 input[type="button"], .elementor-kit-5 input[type="submit"], .elementor-kit-5 .elementor-button {
        font-size: 1.2rem;
        padding: 18px;
    }
}


/* Estilo general para la lista y los elementos del formulario */
.inputs-list {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
}

/* Estilo para los contenedores del checkbox */
.hs-form-booleancheckbox {
    display: flex; /* Habilita flexbox para una alineación adecuada */
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
}

/* Estilo para el label que contiene el texto y el checkbox */
.hs-form-booleancheckbox label {
    width: 100%; /* Ocupa el 100% del espacio disponible */
    display: flex; /* Usa flexbox para alinear checkbox y texto */
    align-items: center; /* Centra los elementos verticalmente */
}

/* Estilo para el input del tipo checkbox */
.hs-form-booleancheckbox input[type="checkbox"] {
    width: 5% !important;
    margin-top:12px !important;
    margin-right: 0px !important; /* Añade un margen a la derecha del checkbox */
}


/* Estilo para asegurar que el texto esté alineado correctamente y sea claro */
.hs-form-booleancheckbox span {
    flex-grow: 1; /* Permite que el texto ocupe el espacio restante */
}

/* Estilo para el texto dentro del span para que no tenga margen adicional */
.hs-form-booleancheckbox span p {
    margin: 0; /* Elimina márgenes del párrafo */
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Articulat';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('./ArticulatCF-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Articulat';
	font-style: oblique;
	font-weight: bold;
	font-display: auto;
	src: url('./ArticulatCF-BoldOblique.ttf') format('truetype');
}
@font-face {
	font-family: 'Articulat';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('./ArticulatCF-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Articulat';
	font-style: oblique;
	font-weight: 500;
	font-display: auto;
	src: url('./ArticulatCF-MediumOblique.ttf') format('truetype');
}
@font-face {
	font-family: 'Articulat';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('./ArticulatCF-Text.ttf') format('truetype');
}
@font-face {
	font-family: 'Articulat';
	font-style: oblique;
	font-weight: normal;
	font-display: auto;
	src: url('./ArticulatCF-TextOblique.ttf') format('truetype');
}
/* End Custom Fonts CSS */